* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e9ec;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hint-yellow);
  z-index: 1000;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.login-sy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #b6c9eb;
  height: 30rem;
  width: 75rem;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.head-sp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif, Georgia, Times, "Times New Roman",
    serif;
}

.login {
  height: 25rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login i {
  position: relative;
  left: 2.3rem;
  font-size: 20px;
}

.login input {
  height: 3rem;
  width: 30rem;
  padding-left: 38px;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.login h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.login button:hover{
  background-color: #ececec;
}

a {
  text-decoration: none;
}
